.nav-bar{
    width:85rem;
    gap:50px;
}
.more{
    display: flex;
    align-items: center;
}
.more i{
    display: block;
    align-self: center;
    font-size: 2.3rem;
}
.right a{
   display: none;
}
.intro{
    flex-direction: column-reverse;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    width: 100%
}
.intro-img img{
    margin-left: 40vw;
    margin-right: auto;
   border-bottom:  2px solid white;
   height: 100vh;
   width: 100%;
}
.intro-text{
    width: 100%;
    text-align: center;
}